:root {
  --btn-text-color: white;
  --btn-background-color: black;
  --btn-border-color: cyan;
  --btn-padding-x: 1rem;
  --btn-padding-y: 0.5rem;
  --btn-font-size: 1rem;
  --btn-border-radius: 0.5rem;
}

.btn {
  color: var(--btn-text-color);
  background-color: var(--btn-background-color);
  border: var(--btn-border-color);
  display: inline-block;
  border-style: solid;
  cursor: pointer;
}
.btn-xsm {
  font-size: calc(var(--btn-font-size) * 0.55);
  padding: calc(var(--btn-padding-y) * 0.55) calc(var(--btn-padding-x) * 0.55);
  border-radius: calc(var(--btn-border-radius) * 0.55);
  border-width: 1px;
}
.btn-sm {
  font-size: calc(var(--btn-font-size) * 0.75);
  padding: calc(var(--btn-padding-y) * 0.75) calc(var(--btn-padding-x) * 0.75);
  border-radius: calc(var(--btn-border-radius) * 0.75);
  border-width: 1px;
}
.btn-md {
  font-size: var(--btn-font-size);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border-radius: var(--btn-border-radius);
  border-width: 1px;
}
.btn-lg {
  font-size: calc(var(--btn-font-size) * 1.25);
  padding: calc(var(--btn-padding-y) * 1.25) calc(var(--btn-padding-x) * 1.25);
  border-radius: calc(var(--btn-border-radius) * 1.25);
  border-width: 1px;
}
.btn-xlg {
  font-size: calc(var(--btn-font-size) * 1.75);
  padding: calc(var(--btn-padding-y) * 1.75) calc(var(--btn-padding-x) * 1.75);
  border-radius: calc(var(--btn-border-radius) * 1.75);
  border-width: 1px;
}
