:root {
  --font-size: 1.2rem;
  --color: black;
  --bg-color: white;
  --border-color: cyan;
  --border-radius: 1rem;
  --margin: 1.5rem;
  --padding: 1.5rem;
  --gap: 2rem;
}
/*****************/
/* Reset Browser */
/*****************/
body,
div,
footer,
header,
html,
main,
nav,
section {
  border: 0;
  margin: 0;
  padding: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}
/***************/
/* HTML Basics */
/***************/
body {
  font-size: var(--font-size);
  color: var(--color);
  background-color: var(--bg-color);
  border-color: var(--border-color);
}
p,
i,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: calc(var(--font-size) * 4);
}
h2 {
  font-size: calc(var(--font-size) * 3);
}
h3 {
  font-size: calc(var(--font-size) * 2.5);
}
h4 {
  font-size: calc(var(--font-size) * 2);
}
h5 {
  font-size: calc(var(--font-size) * 1.5);
}
h6 {
  font-size: calc(var(--font-size) * 1.25);
}
a {
  color: var(--color);
  text-decoration: none;
}
/* ************ */
/* Grid Perfect */
/* ************ */
.container {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row nowrap;
  min-width: 300px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.sm-1,
.sm-2,
.sm-3,
.sm-4,
.sm-5,
.sm-6,
.sm-7,
.sm-8,
.sm-9,
.sm-10,
.sm-11,
.sm-12,
.sm-auto,
.md-1,
.md-2,
.md-3,
.md-4,
.md-5,
.md-6,
.md-7,
.md-8,
.md-9,
.md-10,
.md-11,
.md-12,
.md-auto
.lg-1,
.lg-2,
.lg-3,
.lg-4,
.lg-5,
.lg-6,
.lg-7,
.lg-8,
.lg-9,
.lg-10,
.lg-11,
.lg-12,
.lg-auto {
  display: flex;
}
@media (min-width: 300px) and (max-width: 549.99px) {
  /* Phone - Small Screen Only */
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 100%;
  }
  .sm-1 {
    width: 8.333333%;
  }
  .sm-2 {
    width: 16.666667%;
  }
  .sm-3 {
    width: 25%;
  }
  .sm-4 {
    width: 33.33%;
  }
  .sm-5 {
    width: 41.666667%;
  }
  .sm-6 {
    width: 50%;
  }
  .sm-7 {
    width: 58.333333%;
  }
  .sm-8 {
    width: 66.67%;
  }
  .sm-9 {
    width: 75%;
  }
  .sm-10 {
    width: 83.333333%;
  }
  .sm-11 {
    width: 91.666667%;
  }
  .sm-12 {
    width: 100%;
  }
  .sm-auto {
    width: auto;
  }
  .sm-no-show {
    display: none;
  }
  .sm-show {
    display: flex;
  }
  .sm-wrap {
    flex-wrap: wrap;
  }
  .sm-no-wrap {
    flex-wrap: nowrap;
  }
  .sm-order-1 {
    order: -1;
  }
  .sm-order-2 {
    order: -2;
  }
  .sm-order-3 {
    order: -3;
  }
  .sm-order-4 {
    order: -4;
  }
  .sm-order-5 {
    order: -5;
  }
}
@media (min-width: 550px) {
  /* Everything larger than a phone */
  .col-1 {
    width: 8.333333%;
  }
  .col-2 {
    width: 16.666667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.666667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.333333%;
  }
  .col-8 {
    width: 66.67%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.333333%;
  }
  .col-11 {
    width: 91.666667%;
  }
  .col-12 {
    width: 100%;
  }
  .col-auto {
    width: auto;
  }
}
@media (min-width: 550px) and (max-width: 849.99px) {
  /* Tablet - Medium Screen Only */
  .md-1 {
    width: 8.333333%;
  }
  .md-2 {
    width: 16.666667%;
  }
  .md-3 {
    width: 25%;
  }
  .md-4 {
    width: 33.33%;
  }
  .md-5 {
    width: 41.666667%;
  }
  .md-6 {
    width: 50%;
  }
  .md-7 {
    width: 58.333333%;
  }
  .md-8 {
    width: 66.67%;
  }
  .md-9 {
    width: 75%;
  }
  .md-10 {
    width: 83.333333%;
  }
  .md-11 {
    width: 91.666667%;
  }
  .md-12 {
    width: 100%;
  }
  .md-auto {
    width: auto;
  }
  .md-no-show {
    display: none;
  }
  .md-show {
    display: flex;
  }
  .md-wrap {
    flex-wrap: wrap;
  }
  .md-no-wrap {
    flex-wrap: nowrap;
  }
  .md-order-1 {
    order: -1;
  }
  .md-order-2 {
    order: -2;
  }
  .md-order-3 {
    order: -3;
  }
  .md-order-4 {
    order: -4;
  }
  .md-order-5 {
    order: -5;
  }
}
@media (max-width: 849.99px) {
  /* Everything smaller than desktop */
}
@media (min-width: 850px) {
  /* Everything larger than a tablet */
  .lg-1 {
    width: 8.333333%;
  }
  .lg-2 {
    width: 16.666667%;
  }
  .lg-3 {
    width: 25%;
  }
  .lg-4 {
    width: 33.33%;
  }
  .lg-5 {
    width: 41.666667%;
  }
  .lg-6 {
    width: 50%;
  }
  .lg-7 {
    width: 58.333333%;
  }
  .lg-8 {
    width: 66.67%;
  }
  .lg-9 {
    width: 75%;
  }
  .lg-10 {
    width: 83.333333%;
  }
  .lg-11 {
    width: 91.666667%;
  }
  .lg-12 {
    width: 100%;
  }
  .lg-auto {
    width: auto;
  }
  .lg-no-show {
    display: none;
  }
  .lg-show {
    display: flex;
  }
  .lg-wrap {
    flex-wrap: wrap;
  }
  .lg-no-wrap {
    flex-wrap: nowrap;
  }
  .lg-order-1 {
    order: -1;
  }
  .lg-order-2 {
    order: -2;
  }
  .lg-order-3 {
    order: -3;
  }
  .lg-order-4 {
    order: -4;
  }
  .lg-order-5 {
    order: -5;
  }
}
.col {
  flex-direction: column;
}
.col-reverse {
  flex-direction: column-reverse;
}
.row {
  flex-direction: row;
}
.row-reverse {
  flex-direction: row-reverse;
}