nav a {
    color: white;
    background-color: black;
    padding: 10px 15px;
}
nav a:hover {
    background-color: darkgray;
}



.dropdown,
.a {
    position: relative;
    display: inline-block;
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    color: white;
    background-color: darkgrey;
    min-width: 150px;
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}